/* Vendor */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap');

 
 


/* Setup */
@import "reset";
@import "mixins";
@import "variables";
@import "fonts";
@import "globals";    


/* WP parts */
@import "header";
@import "homepage";
@import "sidebar";
@import "footer";
@import "main";
@import "footer"; 
@import "eventsPage";
@import "content";
@import "carousel";
 
.nav-link {
  
        color: white !important;
        font-size: 14px;
        padding: 0 !important;
        margin: 0.6rem 0;

        transition: 0.5s ease;
        font-weight: 600;
        @media only screen and (max-width: 992px) { 
          color: $blue !important;
        }
   
}
  
